{% extends "bootstrap/base.html" %}

{% block navbar %}

<ul class="nav nav-tabs">
  {% block nav_home %}<li role = "presentation"><a href="/">Home</a></li>{% endblock %}
  {% block nav_events %}<li role = "presentation"><a href="/events">Events</a></li>{% endblock %}
  {% block nav_info %}<li role = "presentation"><a href="/info">Helpful Info</a></li>{% endblock %}
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
      Important Locations <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="/libraries">Public Libraries</a></li>
      <li><a href="/schools">Public Schools</a></li>
      <li><a href="/officials">Elected Officials</a></li>
    </ul>
  </li>
</ul>

{% endblock %}


{%block title%} {% endblock %}

{% block content %}



{% endblock %}



