{% extends "bootstrap/base.html" %}

{% block navbar %}

<ul class="nav nav-tabs">
  <li role = "presentation" class ="active"><a href="/">Home</a></li>
  <li role = "presentation"><a href="/events">Events</a></li>
  <li role = "presentation"><a href="/info">Helpful Info</a></li>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
      Important Locations <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="/libraries">Public Libraries</a></li>
      <li><a href="/schools">Public Schools</a></li>
      <li><a href="/officials">Elected Officials</a></li>
    </ul>
  </li>
</ul>

{% endblock %}


{%block title%} {{title}} {% endblock %}

{% block content %}

<h1> {{header}} </h1>
<p> {{content}} </p>

{% endblock %}



